footer{
    position: relative; 
    background-color: $negro;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;

    .redes{
        padding: $separacion5 0;
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    i{
        font-size: 3rem;
        color: white;
    }

}

.creditos{
    p{
        text-align: center;
        color: $blanco;
        font-weight: $bold;
        padding-bottom: $separacion5;
        margin: 0;
    }
}